.form {
  background-color: hsl(var(--clr-gray-700));
  padding: var(--space-base);
}

.charlength,
.rules {
  margin-bottom: var(--space-xl);
}

.charlength {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-auto-rows: min-content;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-sm);
}

.charlength > span {
  font-size: var(--fs-xl);
  color: hsl(var(--clr-accent));
  text-align: end;
}

.rules {
  display: grid;
  gap: var(--space-base);
}

.rule {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.rule > label {
  text-transform: capitalize;
}

@media (--screen-tablet) {
  .form {
    padding-block: var(--space-lg) var(--space-xl);
    padding-inline: var(--space-xl);
  }
  .charlength {
    gap: var(--space-base);
  }
  .rules {
    gap: var(--space-md);
  }
  .rule {
    gap: var(--space-lg);
  }
}
