.container {
  display: flex;
  align-items: center;
  gap: var(--space-base);
  padding: var(--space-base);
  background-color: hsl(var(--clr-gray-900));
}

.container > span {
  text-transform: uppercase;
}

.label {
  color: hsl(var(--clr-gray-400));
  margin-right: auto;
}

.strengthLabel {
  font-size: var(--fs-lg);
  line-height: 1;
}

.bars {
  display: flex;
  gap: var(--space-sm);
  counter-reset: bars;
}

.bars > span {
  display: block;
  width: 10px;
  height: 28px;
  border: var(--border-base) hsl(var(--clr-light));
}

.bars > span.active {
  background-color: hsl(var(--current-color));
  border-color: hsl(var(--current-color));
}
