.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--space-base);
  background-color: hsl(var(--clr-gray-700));
  padding: var(--space-base);
}

.password {
  font-size: var(--fs-xl);
}
.password.empty {
  opacity: 0.25;
  user-select: none;
}

.copy {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--space-base);
  padding: var(--space-sm);
  color: hsl(var(--clr-accent));
}

.copy::before {
  content: 'Password is empty';
  top: calc(100% + 0.5rem);
  right: 0;
}

.copy[aria-disabled='true'] {
  cursor: not-allowed;
  color: hsl(var(--clr-accent) / 0.25);
}

.copy[aria-disabled='false']:hover,
.copy[aria-disabled='false']:focus-visible {
  color: hsl(var(--clr-light));
}

.copytxt,
.copysvg {
  transition: color 200ms linear;
}

.copy:not(.copied) .copytxt {
  display: none;
}

.copysvg {
  width: 21px;
}

@media (--screen-tablet) {
  .container {
    padding: var(--space-md) var(--space-xl);
  }
}
