.container {
  width: min(100%, 33.75rem);
}

.main {
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--space-base);
}

.form {
  background-color: hsl(var(--clr-gray-700));
  padding: var(--space-base);
}

.form > * + * {
  margin-top: var(--space-xl);
}

.form > *:last-child {
  margin-top: var(--space-base);
}

@media (--screen-tablet) {
  .main {
    gap: var(--space-lg);
  }

  .form {
    padding-block: var(--space-lg) var(--space-xl);
    padding-inline: var(--space-xl);
  }

  .form > *:last-child {
    margin-top: var(--space-xl);
  }
}
